node_modules/
dist/
.next/
.env
.env.local
*.log
.DS_Store
apps/api/generated/
apps/api/.pgdata/
apps/api/uploads/*
!apps/api/uploads/.gitkeep
*.tsbuildinfo
.vercel
.env*
apps/api/prisma/*.js
apps/api/prisma/*.js.map
apps/api/private-uploads/
